<!DOCTYPE html>
<html>
  <head>
    <title>Fairgrounds</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'webpacker-react' %>
    <%= stylesheet_pack_tag 'webpacker-react' %>
  </head>

  <body>
    <%= render 'header' %>

    <div class='l-container l-body'>
      <%= yield %>
    </div>

    <%= render 'footer' %>
  </body>
</html>
